header#main-header {
    height         : 80px;
    background     : #292D32;
    font-size      : 20px;
    font-weight    : bold;
    color          : aliceblue;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-family: BankGothic Lt BT;
}

header#main-header:before {
    content    : "{";
    color      : #FF3E0F;
    font-family: BankGothic Lt BT;
    font-size  : 36px;
    padding-top: 0px;
}

header#main-header:after {
    content: "}";
    color      : #FF3E0F;
    font-family: BankGothic Lt BT;
    font-size  : 36px;
    padding-top: 0px;
}