.footer-container p {
    color: #ffffff;
}

.footer-distributed {
    background-color: #292D32;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 0px;
}

.footer-content {
    text-align: center;
}

.heart {
    color: rgb(255, 51, 0);
    font-size: 24px;
}

.footer-logo {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: BankGothic Lt BT;
}

.footer-logo:before {
    content: "{";
    color: #ee6000;
    font-family: BankGothic Lt BT;
    font-size: 36px;
    padding-top: 0px;
}

.footer-logo:after {
    content: "}";
    color: #ee6000;
    font-family: BankGothic Lt BT;
    font-size: 36px;
    padding-top: 0px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-content {
        text-align: center;
    }
    .footer-distributed .footer-content {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed footer-content {
        line-height: 1.8;
    }
}